---
import Icon from "astro-icon";

import Brand from "@components/Brand.astro";
import siteConfig from "@site/config.yml";

const today = new Date();

let links = siteConfig.links;
---

<footer class="flex flex-wrap items-center bg-gray-100 px-8 py-4">
  <div class="flex-grow basis-1/4">
    <Brand />
  </div>

  <div class="flex-grow basis-1/2 space-x-6 text-center">
    {
      links?.map((link: any) => (
        <a href={link.url} target="_blank">
          <span class="sr-only">{link.name}</span>
          <Icon name={link.logo} height="1.5em" class="inline" />
        </a>
      ))
    }
  </div>

  <span class="flex-grow basis-1/4"><em>{siteConfig.site_description}</em></span>

  <span class="block flex-grow pt-4 text-center"
    >&copy; {today.getFullYear()} {siteConfig.copyright}</span
  >
</footer>
