---
import { Icon } from "astro-icon/components";

import FormattedDate from "@components/FormattedDate.astro";
import TableOfContents from '@components/TableOfContents.astro';

const { title, description, pubDate, updatedDate, heroImage, tags } = Astro.props.frontmatter;
const prevPost = Astro.props.prev;
const nextPost = Astro.props.next;
const headings = Astro.props.headings;
const minutesRead = Astro.props.remarkPluginFrontmatter?.minutesRead;
const wordCount = Astro.props.remarkPluginFrontmatter?.wordCount;
---

<article class="prose pb-8 dark:prose-invert">
  <h1 class="mb-4">{title}</h1>
  <div class="text-secondary">
    <FormattedDate date={pubDate} /> { minutesRead && <span> / {wordCount} ({minutesRead})}</span>
  </div>
  <div class="flex items-center py-4">
    <Icon name="mdi:tag" class="text-base" />
    <span class="inline-block">
      {
        tags.map((tag: any) => (
          <a href=`/demo/tags/${tag}` class="pl-2">
            {tag}
          </a>
        ))
      }
    </span>
  </div>
  <p class="text-xl italic font-serif">{description}</p>

  <TableOfContents headings={headings} />

  <slot />
</article>
<ul class="flex">
  { prevPost &&
    <li class="flex-grow basis-1/2">
      <a href=`../${prevPost.slug}/` class="flex items-center">
        <Icon name="ri:arrow-left-line" class="text-2xl" />
        <span>
          <span class="text-sm text-secondary"><FormattedDate date={prevPost.data.pubDate} /></span>
          <br />{prevPost.data.title}
        </span>
      </a>
    </li>
  }
  { nextPost &&
    <li class="flex-grow basis-1/2 text-right">
      <a href=`../${nextPost.slug}/` class="flex items-center">
        <span class="flex-grow">
          <span class="text-sm text-secondary"><FormattedDate date={nextPost.data.pubDate} /></span>
          <br />{nextPost.data.title}
        </span>
        <Icon name="ri:arrow-right-line" class="text-2xl" />
      </a>
    </li>
  }
</ul>
