---
import HtmlHead from "@components/HtmlHead.astro";
import Header from "@components/Header.astro";
import Post from "@components/Post.astro";
import Footer from "@components/Footer.astro";

const { title, description } = Astro.props.frontmatter;
---

<html lang="en">
  <head>
    <HtmlHead title={title} description={description} />
  </head>

  <body class="container mx-auto">
    <Header />
    <main class="p-8">
      <Post
        frontmatter={Astro.props.frontmatter}
        prev={Astro.props.prev}
        next={Astro.props.next}
        headings={Astro.props.headings}
        remarkPluginFrontmatter={Astro.props.remarkPluginFrontmatter}
      >
        <slot />
      </Post>
    </main>
    <Footer />
  </body>
</html>
